1 VERSIONINFO
FILEVERSION     0,3,0,0
PRODUCTVERSION  0,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "sourcediver.org"
      VALUE "FileDescription", "subrender"
      VALUE "FileVersion", "0.3"
      VALUE "InternalName", "subrender"
      VALUE "LegalCopyright", "Maximilian Güntner"
      VALUE "OriginalFilename", "subrender.exe"
      VALUE "ProductName", "subsurface"
      VALUE "ProductVersion", "0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
ID ICON "subrender.ico"
